# Cloudinary Configurations
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Studio Administrator Settings
ADMIN_PASSWORD=your_secure_admin_password
WHATSAPP_PHONE=your_whatsapp_phone_number_with_country_code # e.g., 221762588808
NEXT_PUBLIC_WHATSAPP_PHONE=your_whatsapp_phone_number_with_country_code # e.g., 221762588808
NEXT_PUBLIC_DISPLAY_PHONE=your_whatsapp_phone_number_formatted # e.g., +221 76 258 88 08

